/.logs/go_lastfm-scrobbler*.log
/core/exec/.logs/
/shell/bin/sonic-lens
/config/config_*.yaml
/internal/scrobbler/.logs/
/.logs/
/.storage/
/.tmp/
/shell/bin/nowplaying-cli-mac
/venv/
internal/model/ddl
frontend/node_modules
/node_modules/
/config/config.yaml
frontend/package-lock.json
frontend/dist/
.github/
.gemini/
/cloudflare/worker_project/.wrangler/
/cloudflare/web_project/.wrangler/
/cloudflare/worker_project/wrangler.toml
/.iflow/
/.cursor/
/core/exec/exec1_test.go
