# hide
/.logs/
/.storage/
/.tmp/
.github/
.gemini/
/.iflow/
/.cursor/
/docs/
/skills/

# log
/core/exec/.logs/
/internal/scrobbler/.logs/
/core/exec/exec1_test.go
/.logs/go_lastfm-scrobbler*.log

# bin
/shell/bin/sonic-lens
/shell/bin/nowplaying-cli-mac

# dev
/config/config*.yaml
internal/model/sql/
/backup/

# py
/venv/
/.venv/

# web
/node_modules/
frontend/node_modules
frontend/package-lock.json
frontend/dist/

# cf
/cloudflare/worker_project/.wrangler/
/cloudflare/web_project/.wrangler/
/cloudflare/worker_project/wrangler.toml

# Xcode
.derivedData/
build/

# XcodeGen
# *.xcodeproj
# *.xcworkspace

# user settings
*.xcuserstate
# *.xcworkspace/xcuserdata/
# *.xcodeproj/xcuserdata/

.codex/*
