{{ define "admin/scripts" }}
    <script defer src="../static/admin/state.js"></script>
    <script defer src="../static/admin/ui-state.js"></script>
    <script defer src="../static/admin/realtime.js"></script>
    <script defer src="../static/admin/insights.js"></script>
    <script defer src="../static/admin/playback-lyrics.js"></script>
    <script defer src="../static/admin/charts.js"></script>
    <script defer src="../static/admin/unscrobbled.js"></script>
    <script defer src="../static/admin/insight-jobs.js"></script>
    <script defer src="../static/admin/init.js?v=20260807_mb_sync_v2"></script>
    <script defer src="../static/admin/navigation.js"></script>
    <script defer src="../static/admin/library.js"></script>
    <script defer src="../static/admin/pending-albums.js?v=20260807_layout_opt_v5"></script>
    <script defer src="../static/admin/tracks-navbar.js"></script>
{{ end }}
