extensions:
  file_storage:
    directory: ./.otelcol/file_storage

receivers:
  filelog/soniclens:
    include:
      - ./.logs/go_lastfm-scrobbler.log*
    exclude:
      - ./.logs/*.gz
    start_at: end
    storage: file_storage
    include_file_name: true
    include_file_path: true
    operators:
      - type: json_parser
        timestamp:
          parse_from: attributes.time
          layout: "%Y-%m-%d %H:%M:%S"
        severity:
          parse_from: attributes.level
      - type: move
        from: attributes.msg
        to: body
      - type: add
        field: attributes.log.source
        value: zap-filelog

processors:
  resource:
    attributes:
      - action: upsert
        key: service.name
        value: sonic-lens
  memory_limiter:
    check_interval: 1s
    limit_mib: 256
    spike_limit_mib: 64
  batch:
    timeout: 5s
    send_batch_size: 512

exporters:
  otlp/signoz:
    endpoint: 127.0.0.1:4317
    tls:
      insecure: true

service:
  extensions: [file_storage]
  pipelines:
    logs:
      receivers: [filelog/soniclens]
      processors: [resource, memory_limiter, batch]
      exporters: [otlp/signoz]
